{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-2.jpg' %}" alt="Rollbar Case Study">
    <div class="card-block p-3">
      <h4 class="card-title">Applitools: Customer Stories</h4>
      <p class="card-text">For Applitools, a startup based in San Francisco and Tel Aviv,
        we created a new customer page for their website. In addition to creating written
        case studies for them, we shot this testimonial video with six of their customers
        sharing why they love Applitools for automated visual testing.
      </p>
    </div>
  </div>
</div>
{% endblock %}
