{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-9.jpg' %}" alt="Applitools Film">
    <div class="card-block p-3">
      <h4 class="card-title">Applitools: Product Overview Film</h4>
      <p class="card-text">We worked with Applitools to create an intro video with one of the co-founders
        to share what Applitools does and why it's an important product for developers and testers alike.
      </p>
    </div>
  </div>
</div>
{% endblock %}
