{% extends "base.html" %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix">
        <div class="p-3 background-yellow float-right font-weight-900">
          SALES ENABLEMENT
        </div>
      </div>

      <hr class="mt-0">
      <h3 class="mt-5 text-center">Applitools</h3>
      <h5 class="mt-4 text-center">Company Intro Film</h5>
      <p class="my-5">
        We worked with <a href="https://applitools.com">Applitools</a>,
        a startup based in San Francisco and Tel Aviv, to create an
        intro video with one of the co-founders to share what Applitools
        does and why it's an important product for developers and testers alike.

      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-jiQdVzuenM" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
