{% extends "base.html" %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix">
        <div class="p-3 background-yellow float-right font-weight-900">
          SALES ENABLEMENT
        </div>
      </div>

      <hr class="mt-0">
      <h3 class="mt-5 text-center">Perfecto</h3>
      <h5 class="mt-4 text-center">Content Marketing & Sales Materials</h5>
      <p class="my-5">
        <a href="https://www.perfectomobile.com/">Perfecto</a>, a late-stage growth company based
        in Boston, came to Olivine for strategic content
        marketing. In addition to working cross-functionally
        to create and execute on a content plan for 2016, we
        also created marketing collateral. Here is a brochure
        we made for the sales team to use at events.
      </p>

      <img class="card-img-top" src="{% static '/static/images/portfolio-4.jpg' %}" alt="Rollbar Case Study">
      <div class="card-block p-3">
    </div>
  </div>
</div>
{% endblock %}
