{% extends "base.html" %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix">
        <div class="p-3 background-yellow float-right font-weight-900">
          MESSAGING & POSITIONING
        </div>
      </div>

      <hr class="mt-0">
      <h3 class="mt-5 text-center">Rollbar</h3>
      <h5 class="mt-4 text-center">Enterprise Messaging and Sales Materials</h5>
      <p class="my-5">
      <a href="https://www.rollbar.com/">Rollbar</a>, a software startup in
      San Francisco, came to Olivine for product positioning to elevate their
      messaging to speak to enterprise organizations, in addition to the
      developers and SMBs that were already using their product. We led
      them through a persona session to identify these new targets, then
      created new messaging, a <a href="https://rollbar.com/why-rollbar/">"Why Rollbar"</a>
      landing page and sales enablement material to share high-level benefits.
      </p>

      <img class="card-img-top" src="{% static '/static/images/portfolio-8.jpg' %}" alt="Rollbar Case Study">
      <div class="card-block p-3">
    </div>
  </div>
</div>
{% endblock %}
