{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-8.jpg' %}" alt="Rollbar Case Study">
    <div class="card-block p-3">
      <h4 class="card-title">Rollbar: Messaging and Positioning</h4>
      <p class="card-text">Rollbar came to Olivine for product positioning to elevate their messaging to
        speak to enterprise organizations, in addition to the developers and SMBs that were already using
        their product. We led them through a persona session to identify these new targets and
        created new messaging and a "Why Rollbar" landing page to share high-level benefits for using
        their error-tracking software.
      </p>
    </div>
  </div>
</div>
{% endblock %}
