{% extends "base.html" %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix">
        <div class="p-3 background-yellow float-right font-weight-900">
          CUSTOMER STORIES
        </div>
      </div>

      <hr class="mt-0">
      <h3 class="mt-5 text-center">Rollbar</h3>
      <h5 class="mt-4 text-center">Customer Stories</h5>
      <p class="my-5">
      We did a series of video and written case studies for
      <a href="https://www.rollbar.com/">Rollbar</a>, a software startup in San Francisco,
      and created a customer page on their website to highlight these stories.
      Here's a collection of example videos, including Instacart, Twilio and CircleCI, showing
   how Rollbar accelerates their continuous delivery adoption.
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://fast.wistia.com/embed/iframe/80ekxe3s7a" allowfullscreen></iframe>
      </div>
      </div>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
       <iframe src="https://player.vimeo.com/video/262120149" width="640" height="360" frameborder="0" allowfullscreen></iframe>
      </div>
       </div>
        </div>
      <div class="embed-responsive embed-responsive-16by9">
       <iframe src="https://player.vimeo.com/video/249033277" width="640" height="360" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
