{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-1.jpg' %}" alt="Rollbar Case Study">
    <div class="card-block p-3">
      <h4 class="card-title">Rollbar: Case Study Series</h4>
      <p class="card-text">We did a series of video and written case studies for
      Rollbar, a software startup in San Francisco, and created a customer page on
      their website to highlight these stories. This video features Instacart, one
      of their many happy customers, showing off how Rollbar accelerates their
      continuous delivery adoption.
      </p>
    </div>
  </div>
</div>
{% endblock %}
