{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-6.jpg' %}" alt="Sauce Labs Film">
    <div class="card-block p-3">
      <h4 class="card-title">Sauce Labs: Narrative Brand Film</h4>
      <p class="card-text">We worked with Sauce Labs, a late-stage growth company based on San Francisco,
        to create a brand commercial for their website and YouTube channel. We wanted to creatively
        convey how the software testing process is made easier and better with their service.
      </p>
    </div>
  </div>
</div>
{% endblock %}
