{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-5.jpg' %}" alt="Sauce Labs Case Study">
    <div class="card-block p-3">
      <h4 class="card-title">Sauce Labs: Customer Stories</h4>
      <p class="card-text">For Sauce Labs, we created a variety of written and video case studies.
        Here is one featuring Eventbrite, the popular event management platform
        on how they use Sauce Labs to automatically test that their service.
      </p>
    </div>
  </div>
</div>
{% endblock %}
