{% extends "base.html" %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix">
        <div class="p-3 background-yellow float-right font-weight-900">
        CUSTOMER STORIES
        </div>
      </div>

      <hr class="mt-0">
      <h3 class="mt-5 text-center">Xplenty</h3>
      <h5 class="mt-4 text-center">RaiseMe Customer Story</h5>
      <p class="my-5">
        We worked with <a href="https://www.xplenty.com/">Xplenty</a>, a data integration startup, on a set of customer
        case study videos that highlight why their customers love their product.
        This video features RaiseMe, an education startup that connects students
        with college scholarships,explaining how they use Xplenty to manage tons
        of data without engineering overhead.
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.xplenty.com/case-studies/raiseme/?wvideo=079616geil" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
