{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-3.jpg' %}" alt="Xplenty Case Study">
    <div class="card-block p-3">
      <h4 class="card-title">Xplenty: Customer Stories</h4>
      <p class="card-text">We worked with Xplenty, a data integration startup, on a set of customer
        case study videos that highlight why their customers love their product. This video features
        RaiseMe, an education startup that connects students with college scholarships,
        explaining how they use Xplenty to manage tons of data without engineering overhead.
      </p>
    </div>
  </div>
</div>
{% endblock %}
