{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="card m-3">
    <img class="card-img-top" src="{% static '/static/images/portfolio-7.jpg' %}" alt="Xplenty Case Study">
    <div class="card-block p-3">
      <h4 class="card-title">Xplenty: Customer Stories</h4>
      <p class="card-text">We worked with Xplenty, a data integration startup, on a set of customer
        case study videos that highlight why their customers love their product. This video features
        GoGaurdian sharing how they use Xplenty to manage the data for their education-focused SaaS
        product.
      </p>
    </div>
  </div>
</div>
{% endblock %}
