{% extends "base.html" %}
{% block description %}We are not your typical marketing agency. Our niche is working with startups that need help marketing dev-focused services.{% endblock %}
{% block title %}About Us{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static '/static/css/about-tweaks.css' %}">
<!-- Header -->
<header class="masthead background-blue">
  <img class="d-lg-none" src="{% static '/static/images/olivine.png' %}" alt="Olivine Marketing">
  <div class="container">
    <div class="intro-text py-5">
      <span class="slogan">
        Who We Are
      </span>
      <br>
      <span class="explanation">
        We are not your typical marketing agency. Our niche is
        working with fast-growing, developer-focused tech companies
        -- and actually understanding what they do.
        Continuous
        Integration? Containers? Selenium? Yes, we know what that means.
      </span>
      <span class="learn">
        Learn More<br>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</header>

<section id="team">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="float-right mt-md-4" src="{% static '/static/images/ashley.png' %}" alt="Ashley Wilson">
      </div>
      <div class="col-md-6">
        <div class="card p-4 about-cards background-yellow">
          <h4 class="card-title">Ashley Wilson</h4>
          <p class="card-text">
          Ashley Wilson is the creator of Olivine Marketing. With 8 years of
          marketing experience in the SaaS / technology space, she loves taking
          complex technical products and building a story that engages developers
          and enterprises alike.
          </p>

          <p class="card-text">
          Prior to Olivine, Ashley was an early employee at Sauce Labs, where she
          held roles in marketing, sales and biz dev. During her time as Head of
          Marketing, she created a well-loved brand in the software development
          space and organized dozens of developer-focused meetups and conferences.
          Ashley is also a singer-songwriter and avid traveler.
          </p>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <hr>
    </div>
    <div class="row no-gutters mt-0">
      <div class="col-md-4">
         <img class="float-right mt-md-2" src="{% static '/static/images/paula.png' %}" alt="Paula Carvalho">
      </div>
      <div class="col-md-6">
        <div class="card p-4 about-cards background-green">
          <h4 class="card-title">Paula Carvalho</h4>
          <p class="card-text">
          Paula, who handles creative direction and design for Olivine, is
          a Brazilian design consultant specializing in Art Direction, UI/UX,
          Visual Design and Branding with 10+ years of experience with a strong
          background in graphic design. Her approach is creating visual concepts
          that integrate brand and experience to drive user engagement.
          </p>

          <p class="card-text">
          Paula’s passions are fashion, photography, technology and she loves to
          leave all that to escape to nature.
          </p>
        </div>
      </div>
    </div>
     <div class="container my-5">
      <hr>
    </div>
    <div class="row no-gutters mt-0">
      <div class="col-md-4">
         <img class="float-right mt-md-5" src="{% static '/static/images/todd.png' %}" alt="Todd Wilson">
      </div>
      <div class="col-md-6">
        <div class="card p-4 about-cards background-blue">
          <h4 class="card-title">Todd Wilson</h4>
          <p class="card-text">
          Todd Wilson is Olivine’s Executive Producer and the owner of Fraser
          Film Group, the full-service production company that handles all our
          videos. Todd’s 25+ years of experience as an
          award-winning producer, director and cameraman is broad and deep,
          and his unique approach to storytelling and filmmaking has served
          his clients well.
          </p>

          <p class="card-text">
          As the operating partner at Creative Digital Group
          in Atlanta, acquired by LBi in 2008, the company flourished and was
          recognized as a powerhouse in marketing.Since then, Todd has directed,
          filmed and produced work for a wide array of clients, including
          Home Depot, Simmons Bedding, Graco, GlaxoSmithKline, and Sauce Labs.
          He is one of the co-producers of Black Road, a feature film released
          in the fall of 2015.
          </p>


        </div>
      </div>
    </div>
    
    <div class="container my-5">
      <hr>
    </div>
    <div class="row no-gutters mt-0">
      <div class="col-md-4">
         <img class="float-right mt-md-5" src="{% static '/static/images/rae.png' %}" alt="Raechel Lambert">
      </div>
      <div class="col-md-6">
        <div class="card p-4 about-cards background-yellow">
          <h4 class="card-title">Raechel Lambert</h4>
          <p class="card-text">
          Raechel, who helps with product marketing and handles product launches 
            for Olivine, drove some of Intercom's largest product releases 
            and has worked for technical products in the developer 
            tools space. Formerly she worked in finance and brings 
            her analytical mindset and focus on business goals 
            to her work in marketing.
          </p>


        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
