{% extends "base.html" %}
{% block description %}We help B2B tech companies with messaging
 &amp; positioning, customer stories and sales enablement material.
{% endblock %}
{% block title %}Tell Your Story Better{% endblock %}
{% block body %}
<!-- Header -->
<header class="masthead">
  <img class="d-lg-none" src="{% static '/static/images/Olivine_logo 206x90.svg.png' %}" alt="Olivine Marketing">
  <div class="container">
    <div class="intro-text py-4">
      <span class="slogan">
       Olivine is a boutique collective of tech marketers and creatives. 
      </span>
      <br>
      <span class="explanation">
       We help B2B SaaS companies tell better stories through brand and product positioning, 
       customer stories, sales enablement, and branding.
.
      <span>
      <span class="learn">
        Learn More<br>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
</header>

<section id="transformation">
  <div class="container text-center">
    <p class="thick">
      We help sales &amp; marketing teams transition to selling
    </p>
    <span class="font-weight-light">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <p class="text-center">$<span class="huge">25</span></p>
          <p class="tiny">Monthly Subscriptions</p>
        </div>
        <div class="col-12 col-md-auto">
          <img class="img-fluid" src="{% static '/static/images/arrow.png' %}" alt="To">
        </div>
        <div class="col col-lg-2">
          <p class="text-center">$<span class="huge">50k</span></p>
          <p class="tiny">Annual Deals</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <p class="huge">Sr Devs</p>
          <p class="tiny">Persona</p>
        </div>
        <div class="col-12 col-md-auto">
          <img class="img-fluid" src="{% static '/static/images/arrow.png' %}" alt="To">
        </div>
        <div class="col col-lg-2">
          <p class="huge">CTOs</p>
          <p class="tiny">Persona</p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <p class="huge">20</p>
          <p class="tiny">Engineer Teams</p>
        </div>
        <div class="col-12 col-md-auto">
          <img class="img-fluid" src="{% static '/static/images/arrow.png' %}" alt="To">
        </div>
        <div class="col col-lg-2">
          <p class="huge">300</p>
          <p class="tiny">Engineer Orgs</p>
        </div>
      </div>
    </span>
  </div>
</section>

<section id="products">
  <div class="container text-center">
    <p class="thick">
      We deliver this through
    </p>
    <div class="row justify-content-md-center">
      <div class="col">
         <img class="rounded-circle mb-3 border-yellow" src="{% static '/static/images/enterprise.png' %}" alt="Enterprise Messaging">
        <p class="lead">Positioning/Messaging</p>
        <p class="px-5">
        Positioning is key. Message your product effectively to your target audience.
        </p> 
      </div>
      <div class="col">
        <img class="rounded-circle mb-3 border-yellow" src="{% static '/static/images/sales.png' %}" alt="Sales Enablement">
        <p class="lead">Sales Enablement</p>
        <p class="px-5">
        Your sales team is closing bigger deals. Arm them with the marketing materials they need.
        </p>
      </div>
      <div class="col">
        <img class="rounded-circle mb-3 border-yellow" src="{% static '/static/images/stories.png' %}" alt="Customer Stories">
        <p class="lead">Customer Stories</p>
        <p class="px-5">
        Showcase the success of your top customers. Share engaging video and written case studies.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <a class="px-3 py-1 rounded border-yellow" href="mailto:contact@olivinemarketing.com">
      GET IN TOUCH
    </a>
  </div>
</section>

<section id="companies">
  <div class="container text-center">
    <p class="thick">
      A few companies we've worked with
    </p>
  <div class="container">
    <div class="row justify-content-md-center">
      <img class="img-fluid" src="{% static '/static/images/companies.png' %}" alt="Companies">
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <blockquote class="blockquote">
          <i class="fa fa-quote-left text-muted" aria-hidden="true"></i>
          Working with Olivine is an awesome experience. We only have to share
          a high level guideline of what we want to achieve and they drive it all
          the way and bring back amazing results.
          <i class="fa fa-quote-right text-muted" aria-hidden="true"></i>
        <footer class="blockquote-footer pt-3">
          Moshe Milman, Co-Founder &amp; COO of Applitools</footer>
        </blockquote>
      </div>
    </div>
  </div>

{% endblock %}
