{% extends "base.html" %}

{% block body %}
<!-- Header -->
<header class="masthead">
  <img class="d-lg-none" src="{% static '/static/images/olivine.png' %}" alt="Olivine Marketing">
  <div class="container">
    <div class="intro-text">
      <span class="slogan">
        Tell a better story to enterprises and developers alike
      </span>
      <br>
      <span class="explanation">
        Olivine is a boutique marketing agency that knows technical products. We
        deliver compelling messaging, customer stories and sales enablement
        material to help target bigger customers and close more
        business.
      <span>
      <span class="learn">
        Learn How<br>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
</header>

<section id="transformation">
  <div class="container text-center">
    <p class="thick">
      We help sales & marketing teams transition to selling
    </p>
    <span class="font-weight-light">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <p class="text-center">$<span class="huge">25</span></p>
          <p class="tiny">Monthly Subscriptions</p>
        </div>
        <div class="col-12 col-md-auto">
          <img class="img-fluid" src="{% static '/static/images/arrow.png' %}" alt="To">
        </div>
        <div class="col col-lg-2">
          <p class="text-center">$<span class="huge">50k</span></p>
          <p class="tiny">Anual Deals</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <p class="huge">MANAGERS</p>
          <p class="tiny">Persona</p>
        </div>
        <div class="col-12 col-md-auto">
          <img class="img-fluid" src="{% static '/static/images/arrow.png' %}" alt="To">
        </div>
        <div class="col col-lg-2">
          <p class="huge">CTOs</p>
          <p class="tiny">Persona</p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <p class="huge">1</p>
          <p class="tiny">Engineering Team</p>
        </div>
        <div class="col-12 col-md-auto">
          <img class="img-fluid" src="{% static '/static/images/arrow.png' %}" alt="To">
        </div>
        <div class="col col-lg-2">
          <p class="huge">10</p>
          <p class="tiny">Engineering Teams</p>
        </div>
      </div>
    </span>
  </div>
</section>

<section id="products">
  <div class="container text-center">
    <p class="thick">
      We deliver this through
    </p>
    <div class="row justify-content-md-center">
      <div class="col">
        <img class="rounded-circle mb-3 border-yellow" src="{% static '/static/images/stories.png' %}" alt="Customer Stories">
        <p class="lead">Customer Stories</p>
        <p class="px-5">
        Showcase the success of your top customers. Share engaging video and written case studies.
        </p>
      </div>
      <div class="col">
        <img class="rounded-circle mb-3 border-yellow" src="{% static '/static/images/sales.png' %}" alt="Sales Material">
        <p class="lead">Sales Material</p>
        <p class="px-5">
        Your sales team is closing bigger deals. Arm them with the marketing material they need. 
        </p>
      </div>
      <div class="col">
        <img class="rounded-circle mb-3 border-yellow" src="{% static '/static/images/enterprise.png' %}" alt="Enterprise Messaging">
        <p class="lead">Enterprise Messaging</p>
        <p class="px-5">
        Positioning is key. Elevate your message to speak to Directors & CTOs from larger companies.  
        </p>
      </div>
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <a class="px-3 py-1 rounded border-yellow" href="mailto:contact@olivinemarketing.com">
      GET IN TOUCH
    </a>
  </div>
</section>

<section id="companies">
  <div class="container text-center">
    <p class="thick">
      A few companies we've worked with
    </p>
    <img class="img-fluid" src="{% static '/static/images/companies.png' %}" alt="Companies">

  <div class="container text-center">
    <blockquote class="blockquote">
      Working with Olivine is an awesome experience. We only have to share
      a high level guideline of what we want to achieve and they drive it all
      the way and bring back amazing results.
    <footer class="blockquote-footer">Moshe Milman <cite title="Source Title">Co-Founder & COO of Applitools</cite></footer>
    </blockquote>
  </div>

{% endblock %}
