{% extends "base.html" %}
{% block description %}We are not your typical marketing agency. Our niche is working with startups that need help marketing dev-focused services.
{% endblock %}
{% block title %}Portfolio{% endblock %}
{% block body %}
<div id="portfolio">
  <div class="container">
    <div class="card my-2">

      <div class="row no-gutters pr-2">
        <div class="pt-2 pl-2 col-md-8">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-1.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Customer Stories</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-2.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Applitools: Customer Stories</h4>
              <p class="card-text">For Applitools, a startup based in San Francisco and Tel Aviv,
              we created a new customer page for their website. In addition to creating written
              case studies for them, we shot this testimonial video with six of their customers
              sharing why they love Applitools for automated visual testing.</p>
              <a href="{% url '/portfolio/applitools.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters pr-2">
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-3.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Xplenty: Customer Stories</h4>
              <p class="card-text">We worked with Xplenty, a data integration startup, on a set of customer
              case study videos that highlight why their customers love their product. This video features
              RaiseMe, an education startup that connects students with college scholarships,
              explaining how they use Xplenty to manage tons of data without engineering overhead.</p>
              <a href="{% url '/portfolio/xplenty.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-8">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-4.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Perfecto: Sales Enablement Materials</h4>
              <p class="card-text">Perfecto Mobile, a late-stage growth company based in Boston, came to Olivine
              for strategic content marketing. In addition to working cross-functionally to create and execute
              on a content plan for 2016, we also created marketing collateral. Here is a brochure we made for
              the sales team to use at events.</p>
              <a href="{% url '/portfolio/perfecto.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters pr-2">
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-5.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Sauce Labs: Customer Stories</h4>
              <p class="card-text">We worked with Sauce Labs, a late-stage growth company based in
              San Francisco to create a variety of written and video case studies.
              Here is one featuring Eventbrite, the popular event management platform
              on how they use Sauce Labs to automatically test that their service.</p>
              <a href="{% url '/portfolio/saucelabs.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-6.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Sauce Labs: Narrative Brand Film</h4>
              <p class="card-text">We worked with Sauce Labs to create a brand commercial for
              their website and YouTube channel. We wanted to creatively convey how the
              software testing process is made easier and better with some Sauce.</p>
              <a href="{% url '/portfolio/saucelabs1.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-7.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Xplenty: Customer Stories</h4>
              <p class="card-text">We worked with Xplenty, a data integration startup, on a set of customer
              case study videos that highlight why their customers love their product. This video features
              GoGaurdian sharing how they use Xplenty to manage the data for their education-focused SaaS
              product.</p>
              <a href="{% url '/portfolio/xplenty1.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters pr-2 pb-2">
        <div class="pt-2 pl-2 col-md-8">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-8.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Messaging and Positioning</h4>
              <p class="card-text">Rollbar, a software startup in San Francisco, came to Olivine for product
              positioning to elevate their messaging to speak to enterprise organizations, in addition
              to the developers and SMBs that were already using their product. We led them through a
              persona session to identify these new targets and created new messaging and a "Why Rollbar"
              landing page to share high-level benefits for using their error-tracking software.</p>
              <a href="{% url '/portfolio/rollbar1.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static '/static/images/portfolio-9.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Applitools: Company Intro Film</h4>
              <p class="card-text">We worked with Applitools to create an intro video with one of the co-founders
              to share what Applitools does and why it's an important product for developers and testers alike.</p>
              <a href="{% url '/portfolio/applitools1.html' %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
