{% extends "base.html" %}

{% block body %}
<div id="portfolio">
  <div class="container">
    <div class="card my-2">

      <div class="row no-gutters pr-2">
        <div class="pt-2 pl-2 col-md-8">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-1.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-2.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters pr-2">
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-3.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-8">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-4.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters pr-2">
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-5.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-6.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-7.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters pr-2 pb-2">
        <div class="pt-2 pl-2 col-md-8">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-8.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
        <div class="pt-2 pl-2 col-md-4">
          <div class="card card-inverse card-primary">
            <img class="card-img" src="{% static 'static/images/portfolio-9.jpg' %}" href="portfolio image">
            <div class="card-img-overlay card-block">
              <h4 class="card-title">Rollbar: Case Study Series</h4>
              <p class="card-text">We did a series of video and written case
              studies for Rollbar, a software startup in San Francisco, and
              created a customer page on their website to highlight these stories.
              This video features Instacart, one of their many happy customers,
              showing off how Rollbar accelerates their continuous delivery
              adoption.</p>
              <a href="{% url '/portfolio/rollbar.html '%}" class="btn btn-primary">View Case Study</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
