<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Olivine Marketing</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/static/images/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
    <script src="https://use.fontawesome.com/5ba8f49330.js"></script>
    <script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainnav">
      <div class="container">
        <a class="navbar-brand" href="{% url '/index.html' %}">
          <img class="d-none d-lg-block img-fluid" src="{% static '/static/images/logo.png' %}" alt="Olivine Marketing">
          <img class="d-lg-none" src="{% static '/static/images/logo-sm.png' %}" alt="Olivine Marketing">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ml-auto">
            {% include "nav-items.html" %}
          </div>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}
    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-light p-5 mt-5" id="bottomnav">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavContent" aria-controls="bottomNavContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="bottomNavContent">
            <div class="navbar-nav">
              {% include "nav-items.html" %}
            </div>
          </div>
        </div>
      </nav>
    </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>

  {% block scripts %}
  {% endblock %}
</html>
